body {
    display          : flex;
    align-items      : center;
    padding-top      : 40px;
    padding-bottom   : 40px;
    background-color : #f5f5f5;
}

.form {
    width     : 100%;
    max-width : 380px;
    padding   : 15px;
    margin    : auto;
}

.form .form-control:focus {
    z-index : 2;
}
