{% extends 'layout.twig' %}

{% block content %}
    <form class="form" action="{{ path_for('payment') }}" method="get" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Booking Info (1/3)</h1>
        
        <div class="row mb-1">
            <div class="col-sm">
                <label for="reference" class="sr-only">Merchant Reference</label>
                <input type="text" id="reference" name="reference" class="form-control" placeholder="Merchant Reference" value="order_{{ random() }}" required>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm">
                <label for="currency" class="sr-only">Currency</label>
                <input type="text" id="currency" name="currency" class="form-control" placeholder="Currency" value="USD" required>
            </div>
            <div class="col-sm">
                <label for="amount" class="sr-only">Amount</label>
                <input type="number" id="amount" name="amount" class="form-control" placeholder="Amount in minor currency" value="1000" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Next &raquo;</button>
            </div>
        </div>
    </form>
{% endblock %}