{% extends 'layout.twig' %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Transaction Details (3/3)</h1>
    
    <p>
        <a href="/" class="btn btn-primary">Restart</a>
    </p>
    
    <dl>
        <dt>Transaction ID</dt>
        <dd>{{ details.transaction_id }}</dd>
        <dt>Merchant Reference</dt>
        <dd>{{ details.merchant_reference }}</dd>
        <dt>Status</dt>
        <dd>{{ details.status }}</dd>
        <dt>Payment</dt>
        <dd>{{ details.captured_amount_formatted }}</dd>
        <dt>Funding Instrument</dt>
        <dd>
            {{ details.funding_instrument.mask }}
            ({{ details.funding_instrument.type }}/{{ details.funding_instrument.subtype }}/{{ details.funding_instrument.scheme }})
        </dd>
    </dl>

    <hr>
    
    <pre>{{ details | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endblock %}