{% extends 'layout.twig' %}

{% block content %}
    <form class="form" action="" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Payment Info (2/3)</h1>

        <dl>
            <dt>Merchant ID</dt>
            <dd>{{ merchant_id }}</dd>
            <dt>Merchant Reference</dt>
            <dd>{{ reference }}</dd>
            <dt>Payment</dt>
            <dd>{{ currency }} {{ amount }}</dd>
        </dl>

        <hr>

        <div id="error" class="alert alert-danger d-none" role="alert"></div>

        <div class="row mb-1">
            <div class="col-sm">
                <label for="holder" class="sr-only">Holder Name</label>
                <input type="text" id="holder" class="form-control" value="John Doe" placeholder="John Doe" required autofocus>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i id="cardType" class="fa fa-cc"></i>
                        </span>
                    </div>
                    <label for="number" class="sr-only">Card Number</label>
                    <input type="text" id="number" class="form-control" value="5200 0000 0000 0080" placeholder="4242 4242 4242 4242" required>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm">
                <label for="expirationDate" class="sr-only">Expiration Date</label>
                <input type="text" id="expirationDate" class="form-control text-center" value="01 / 25" placeholder="MM / YY" required>
            </div>
            <div class="col-sm">
                <label for="cvc" class="sr-only">CVC/CVV</label>
                <input type="text" id="cvc" class="form-control text-center" value="123" placeholder="123" required>
            </div>
        </div>
        <div class="row mb-1 mt-2 dcc" style="display: none">
            <div class="col-sm">
                <div class="form-check">
                    <input type="radio" id="noDcc" name="dcc_quote" value="" class="form-check-input" checked>
                    <label class="form-check-label" for="noDcc"></label>
                </div>
                <div class="form-check">
                    <input type="radio" id="dcc" name="dcc_quote" value="" class="form-check-input">
                    <label class="form-check-label" for="dcc"></label>
                </div>
            </div>
        </div>
        <div class="row mb-1 mt-2">
            <div class="col-sm">
                <div class="form-check">
                    <input type="checkbox" id="termsOfService" name="terms_of_service" value="1" class="form-check-input">
                    <label class="form-check-label" for="termsOfService">I accept the <a href="#">terms of service</a></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Pay Now</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://checkout.{{ endpoint }}/vault/v1.js"></script>
    <script>
      let vault = new TrekkPayVault('{{ reservation_id }}', {
        endpoint: 'https://checkout.{{ endpoint }}'
      });
      
      vault.formatCardNumber('#number', type => {
        let ccClass = 'fa-cc';
        if (type === 'diners') {
          ccClass = 'fa-cc-diners-club';
        } else if (['visa', 'mastercard', 'amex', 'jcb', 'discover'].includes(type)) {
          ccClass = 'fa-cc-' + type;
        }
        
        $('#cardType').removeClass().addClass('fa ' + ccClass);
      });
      vault.formatCardExpirationDate('#expirationDate');
      
      let dccTimeout = null;
      $('#number').keyup(function() {
        const iin = $(this).val().replace(/[^0-9]/g, '').substr(0, 6);
        if (iin.length !== 6) {
          $('.row.dcc').hide();
          return;
        }
        
        if (dccTimeout) {
          window.clearTimeout(dccTimeout);
        }
        dccTimeout = window.setTimeout(() => {
          fetch('{{ path_for('dcc_quote') }}?' + $.param({
            currency: '{{ currency }}',
            amount: {{ amount }},
            iin
          })).then((response) => {
            return response.json();
          }).then((data) => {
            if (data.error) {
              throw data.error;
            }
            if (data.success) {
              $('#noDcc').next('label').text('Pay in ' + data.currency + ' (' + data.amount_formatted + ')');
              $('#dcc').val(data.reference).next('label').text(
                'Pay in ' + data.quote.currency + ' (' + data.quote.amount_formatted + ', exchange rate: ' + data.quote.exchange_rate + '%)'
              );
              $('.row.dcc').show();
            }
          });
        }, 500);
      });
      
      $('form').submit(e => {
        e.preventDefault();
        
        $('#error').addClass('d-none');
        const dateParts = $('#expirationDate').val().split(' / ');

        vault.storeCreditCard({
          holder: $('#holder').val(),
          number: $('#number').val(),
          cvc: $('#cvc').val(),
          expires: '20' + dateParts[1] + '-' + dateParts[0]
        }).then(aliasId => {
          window.location = '{{ path_for('payment') }}?' + $.param({
            alias_id: aliasId,
            reference: '{{ reference }}',
            currency: '{{ currency }}',
            amount: {{ amount }},
            dcc_quote_reference: $('input[name="dcc_quote"]:checked').val()
          });
        }).catch(error => {
          $('#error').text(error.message).removeClass('d-none');
        });
      });
    </script>
{% endblock %}